$sky-blue: #08A0F7;          // #08A0F7
$ocean-blue: #1778B0;        // #1778B0
$calm-purple: #7784EE;       // #7784EE
$light-gray-blue: #C4CAD3;   // #C4CAD3
$medium-gray: #C9C9C9;       // #C9C9C9
$light-sky-blue: #F0F5FC;    // #F0F5FC        
$emerald-green: #46BD84;     // #46BD84
$forest-green: #33AC72;      // #33AC72
$golden-yellow: #FBA63C;     // #FBA63C
$violet-purple: #9D1CB2;     // #9D1CB2
$magenta-pink: #D459E8;      // #D459E8
$teal-green: #34A770;        // #34A770
$coral-red: #F85640;         // #F85640
$light-periwinkle: #D2D7FF;  // #D2D7FF
$light-pink: #FFF8F8;        // #FFF8F8
$peach-cream: #FFF8EF;       // #FFF8EF
$amber-orange: #E18109;      // #E18109
$burnt-orange: #BC741A;      // #BC741A
$light-teal: #DCF3EB;        // #DCF3EB
$forest-green-dark: #10673E; // #10673E
$deep-green: #13854E;        // #13854E
$steel-blue: #3387B7;        // #3387B7
$light-sky-blue: #E1F2FC;    // #E1F2FC
$white: #ffff;
$search-color:#F4F7FC;
$select-color: #41475E;
$select-opacity: rgba(65, 71, 94,0.5);
$user-color:  #121212;
$user-opacity:rgba(18, 18, 18,0.7);
$icon-color:#A8B5CB;
$message-color: #5DC983;
$light-blue:rgba(8, 160, 247,0.1)
